<div class="container">
  

<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && myTitle.errors}">
        <p><label>Title</label></p>
      <input type="text" name="title" [(ngModel)]="tip.title" #myTitle="ngModel" required minlength="4" [disabled]="processing"
      />
      <!-- <div *ngIf="feedbackEnabled && myTitle.errors">
        <p *ngIf="myTitle.errors.required" class="validation">title required</p>
        <p *ngIf="myTitle.errors.minlength" class="validation">title is too short</p>
      </div> -->
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && myContent.errors}">
      <p> <label>Content</label>  </p>
      <textarea rows="4" cols="50" name="content" [(ngModel)]="tip.content" #myContent="ngModel" [disabled]="processing" min="0" max="99" required placeholder="What's going on?"></textarea>
      <!-- <div *ngIf="feedbackEnabled && myContent.errors">
        <p *ngIf="myContent.errors.required" class="validation">Please add content</p>
      </div> -->
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && myLocation.errors}">
        <label>Place Location</label>
        <input type="text" name="location" [(ngModel)]="tip.location" #myLocation="ngModel" [disabled]="processing" min="0" max="99" required/>
        <!-- <div *ngIf="feedbackEnabled && myContent.errors">
          <p *ngIf="myContent.errors.required" class="validation">Please add content</p>
        </div> -->
      </div>


      <div class="field" [ngClass]="{'has-error': feedbackEnabled && myLocation.errors}">
      <label for="postStatus">Public or Private:</label>
      <select name="postStatus" [(ngModel)]="tip.postStatus" #myStatus="ngModel" [disabled]="processing">
          <option value="publicPost" selected>Public</option>
          <option value="privatePost">Private</option>
      </select>
    </div>


      
    

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && myCity.errors}">
      <label>City</label>
      <input type="text" name="city" [(ngModel)]="tip.city" #myCity="ngModel" [disabled]="processing" min="0" required/>
  
      <!-- <div *ngIf="feedbackEnabled && myCity.errors">
        <p *ngIf="myCity.errors.required" class="validation">Where?</p>
      </div> -->
    </div>

  <div>
      <label>For which city is this tip for?</label>
    <!-- <ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete> -->
    
  </div>


  <div class="field">
      <label>City / Destination</label>
      <app-map-autocomplete-cities (onSelect)="handleLocationSelect($event)" ></app-map-autocomplete-cities>
    </div>


    <div class="field">
        <label>Place/ Sight / Restaurant</label>
        <app-map-autocomplete-places (onSelect)="handleLocationSelect($event)" ></app-map-autocomplete-places>
      </div>



    <div class="field" [ngClass]="{'has-error': feedbackEnabled}">
      <label>Upload a photo</label>
      <input type="file" name="file" [disabled]="processing" ng2FileSelect [uploader]="uploader" />
      <!-- <div *ngIf="feedbackEnabled">
        <p *ngIf="mymainPicture.errors.required" class="validation">please upload an image of your appartment</p>
      </div> -->
    </div>
  
    <div class="field submit">
      <input type="submit" [disabled]="processing">Add your tip
      <!-- <div *ngIf="feedbackEnabled && myForm.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div> -->
    </div>
  </form>
  


  
</div>
