<div class="container">
        
      
   
    
          <div class="results" >
            <mat-tab-group mat-stretch-tabs="yes">
              <mat-tab label="Map"  (click)="activateMap()">
                  <app-map-all-connections [users]="users"></app-map-all-connections>
                </mat-tab>
              
              <mat-tab  label="List" >


                  <div class="container">
                      <ul class="user-container">
                      <li *ngFor="let user of users">
                              <a [routerLink]="['/users',user._id]">                         
                        <app-user-card [user]="user"></app-user-card>
                       </a>
                      </li>
                      </ul>
                  </div>
              </mat-tab>
            </mat-tab-group>
          </div>
            <!-- <app-filter [users]="users" [selectors]="selectors" *ngIf="filterReady" (onChange)="handleFilterChange($event)" [ngClass]="filterVisible ? 'filter-visible' : 'filter-hidden'"></app-filter> -->
          <hr>

</div>


<script>
 
      

</script>



    