<div class="container">
<div class="single-post-card">



<div *ngIf='tips' class=single-post-card>
    <div class="profile-header">
        <div class="card-small-profile">
            <a>
                <img src="{{serverUrl}}{{tips.user_id.picture}}" alt="User Photo" class='user-tip-photo'>
            </a>       
        </div>
        <div class="single-post-user-info">     
        <div class="single-post-user-name">                         
          {{tips.user_id.firstName}} {{tips.user_id.lastName}}
        </div>
        <div class="single-post-user-location">     
          {{tips.city}}     
        </div>
        </div>
    </div>

        <p><img src="{{serverUrl}}{{tips.picture}}" alt="Tip Photo" class='tip-photo'> </p>
        

<h2>{{tips.title}}</h2>
<p>  {{tips.content}}</p>
</div>





</div>
</div>