<div class="container">
    

<ul style="list-style: none">
  <div *ngIf="tips">
    <li *ngFor="let tips of tips" class=single-post-card>
        <a [routerLink]="['/tips',tips._id]">  
    <p>{{tips.title}}</p> 
     <p> {{tips.content}}</p>
     <p>{{tips.destination}}</p>
      <p><img src="http://localhost:3000{{tips.picture}}" alt="Tip Photo" class='tip-photo'> </p>
    </a>
    <p>{{tips.user_id.firstName}}</p>
    
    </li>
  </div>
</ul>
<a [routerLink]="['/add']"> Add a tip </a>


</div>
