<div class="profile-page-container">
     <div class="profile-card">  
                
<div *ngIf='user'>
        
<h1>{{ user.firstName }} profile</h1>

<h3 class="site-title">Connect</h3>

<img src="http://localhost:3000{{ user.picture }} " alt="Profile Picture" class="profile-picture">



<p> @{{ user.username }}  </p>
<h3> {{ user.firstName }}  {{ user.lastName }}  </h3>
<p> {{ user.email }}  </p>
<p> Lives in: {{ user.livingIn.placeName }}  </p>
<p> Born in: {{ user.cityFrom.placeName }}  </p>

<a href="https://m.me/ConstantinosYY">
    Message us on Facebook
 </a>

    </div>
</div>