<div class="container">
    

Another Users Profile

<!-- <h1>{{ user.firstName }} profile</h1> -->

<!-- <h3 class="site-title"><a [routerLink]="['/profile/edit']">Connect</a></h3> -->

<!-- <img src="{{ user.picture }} " alt="Profile Picture" class="profile-picture"> -->





<!-- <p> You are logged in as {{ user.username }}  </p>

<p> Your email is {{ user.email }}  </p>

<p> Your first name is {{ user.firstName }}  </p>

<p> Your last name is {{ user.lastName }}  </p>

<p> Your ID is {{ user.id }}  </p> -->
