<div class="container">
    

Another Users Profile

<div *ngIf='user'>
        
<h1>{{ user.firstName }} profile</h1>

<h3 class="site-title"><a [routerLink]="['/profile/']">Connect</a></h3>

<img src="http://localhost:3000{{ user.picture }} " alt="Profile Picture" class="profile-picture">





<p> {{ user.username }}  </p>

<p> Emai: {{ user.email }}  </p>

<p> First name: {{ user.firstName }}  </p>

<p> Last name: {{ user.lastName }}  </p>

<p> Lives in: {{ user.livingIn.placeName }}  </p>

<p> Born in: {{ user.cityFrom.placeName }}  </p>

</div>