<div class="city-image" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}" >
        <div class="city-header">
          <h2>{{city}}</h2>
          <h3>{{country}}</h3>
        </div>
      </div>


<div class="container">
    

        <mat-tab-group mat-stretch-tabs="yes">
               
                
                <mat-tab  label="Connections living in {{city}}"  >
  
  
                    <div class="container">
                            <div class="tips-box">
                                    <div class="container">
                                        <!-- <h2>Connections living in {{city}}</h2> -->
                                        <img class="travel-icon" src="../assets/icons/network.svg">
                                        
                                        <ul class="user-container">
                                        <li *ngFor="let user of userList">
                                                <a [routerLink]="['/users',user._id]">                         
                                          <app-user-card [user]="user"></app-user-card>
                                         </a>
                                        </li>
                                        </ul>
                                       
                                    </div>
                            </div>
                    </div>
                </mat-tab>


                <mat-tab label="Tips for {{city}}"  >
                        <div class="tips-box">
                                <div class="container">
                                    <!-- <h2>Tips for {{city}}</h2> -->
                                    <img class="travel-icon" src="../assets/icons/tip.svg">
                                    
                                    <ul class="tip-container">
                                    <li *ngFor="let tip of tipList">
                                            <a [routerLink]="['/tips',tip._id]">                         
                                        <app-tip-card [tip]="tip"></app-tip-card>
                        </a>
                                    </li>
                                    </ul>
                                    
                                </div>
                        </div>
                        
                  </mat-tab>
              </mat-tab-group>

















<!-- <p>
  Destination-details needed here!
</p>

<br>

<p>
Friends living in this location:  </p>
<p>
    Friends lived in this location:  </p>
    <p>
        Friends traveled to this location:  </p>

<br>

<p>
    Friends of friends  living in this location:  </p>
    <p>
        Friends of friends lived in this location:  </p>
        <p>
            Friends of friends traveled to this location:  </p>
    


            <br>
            
            <p>
            Best match in this location:  </p>
            <p>



                <br>
                
                <p>
                Top tips in this location:  </p>
                <p> Tipsters in this location:
                  </p>



 -->



</div>