<div class="container">
    
<p>
  Destination-details needed here!
</p>




<br>

<p>
Friends living in this location:  </p>
<p>
    Friends lived in this location:  </p>
    <p>
        Friends traveled to this location:  </p>

<br>

<p>
    Friends of friends  living in this location:  </p>
    <p>
        Friends of friends lived in this location:  </p>
        <p>
            Friends of friends traveled to this location:  </p>
    


            <br>
            
            <p>
            Best match in this location:  </p>
            <p>



                <br>
                
                <p>
                Top tips in this location:  </p>
                <p> Tipsters in this location:
                  </p>




</div>