<header class="site-header">
    <div class="flex-container">
        <div class="row">
          <span class="flex-item"><a [routerLink]="['/']">
         
           <img src="https://sf6aqq-db3pap001.files.1drv.com/y4mCvqvzFdHtz8CxUDDMbWYu05BKZQgGWfOXpDWCobivt6q5AmQ-vnOc8FbwbWpAmp5q7oSuyKFCue58c8G4xESiry6SJe1Z0cKUMVz1zZCXVzRfHlYycnohxpadVYvzG5A2lM_Rimj9IDpxqRhMIDYfplmVvTL4ooHYk5gFFPfolLu2IScbhRX7FGH6C42rGUU-tD9raGk3X3gAAteSjwoRA?width=256&height=215&cropmode=none" class='logo'  />   
         </a></span>
        </div>
        
      </div>
    
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a (click)="profile()">{{user.username}}'s Profile</a>
        <a href='/connections'>Connections</a>
        <a href='/tips'>Tips</a>        
        <a (click)="logout()">logout</a>
        
      </div>
      <div *ngIf="!loading && anon">
        <a (click)="login()">login</a>
        <a (click)="signup()">signup</a>
      </div>
    </div>  <hr/>
  </header>
  
  <router-outlet></router-outlet>


  <footer class="site-footer">
    <hr/>


          

  </footer>
  