<p>
  map-all-connections works!
</p>


<!-- <div *ngIf="users">
   <div *ngFor="let users of users">
     {{ users.livingIn.placeName }}
    </div>
</div> -->


<p>Where do your connections live</p>


<agm-map  *ngIf="users" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" [styles]='customStyle'>
        <agm-marker 
        *ngFor="let users of users;"
        [latitude]="users.cityFrom.location.latitude" 
        [longitude]="users.cityFrom.location.longitude"
        [iconUrl]="customIcon"> 
        >
    
          <agm-info-window >
            <h3 [routerLink]="['/users',users._id]">{{users.username}}</h3>
          </agm-info-window>
    
    </agm-marker>
    <agm-marker [latitude]="latitude" [longitude]="longitude">
            <agm-info-window >

</agm-info-window>
</agm-marker>     
    
    <agm-marker [latitude]="42.5" [longitude]="2.4" [iconUrl]="customIcon" ></agm-marker>     
    <agm-marker [latitude]="45.5" [longitude]="3.4"         [iconUrl]="customIcon"> 
        ></agm-marker>     
    <agm-marker [latitude]="42.32" [longitude]="2.3" [iconUrl]="customIcon"></agm-marker>     
    <agm-marker [latitude]="32.5" [longitude]="9.4" [iconUrl]="customIcon"></agm-marker>     
    <agm-marker [latitude]="62.32" [longitude]="3.3" [iconUrl]="customIcon"></agm-marker>     
    <agm-marker [latitude]="9.0" [longitude]="5.0"         [iconUrl]="customIcon"> 
        ></agm-marker>     
    
    
      </agm-map>






    
