
<agm-map  *ngIf="users" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" [styles]='customStyle'>
        
  <agm-marker [latitude]="latitude" [longitude]="longitude"         [iconUrl]="customIconMe"> 
      >

    <agm-info-window >   My location         </agm-info-window>
  </agm-marker>     
  



  <agm-marker 
        *ngFor="let users of users;"
        [latitude]="users.cityFrom.location.latitude" 
        [longitude]="users.cityFrom.location.longitude"
        [iconUrl]="customIcon"> 
        >
    
          <agm-info-window >
            <h3 [routerLink]="['/users',users._id]">{{users.username}}</h3>
          </agm-info-window>
    
          <agm-polyline [editable]="false">
              
                <agm-polyline-point [latitude]="latitude" [longitude]="longitude">
              
                </agm-polyline-point >
              
                  <agm-polyline-point 
                      [latitude]="users.cityFrom.location.latitude"
                      [longitude]="users.cityFrom.location.longitude">
                  </agm-polyline-point>
              
              </agm-polyline>
              


          
    </agm-marker>

    
 </agm-map>






    
