
  <div class="container">
    


<h1>{{ user.firstName }} profile</h1>

<h3 class="site-title"><a [routerLink]="['/profile/edit']">Edit Profile</a></h3>

<img src="http://localhost:3000{{ user.picture }} " alt="Profile Picture" class="profile-picture">





<p> You are logged in as {{ user.username }}  </p>

<p> Your email is {{ user.email }}  </p>

<p> Your first name is {{ user.firstName }}  </p>

<p> Your last name is {{ user.lastName }}  </p>

<p> Your ID is {{ user.id }}  </p>


<!-- <form class="update-user" (ngSubmit)="handleUpdateUserForm(myForm)" #myUserForm="ngForm" novalidate [ngClass]="{saving: saving}">
        <label for="file-upload" class="custom-file-upload">
          Choose New Picture
        </label>
        <input id="file-upload" type="file" name="file" ng2FileSelect [uploader]="uploader" [disabled]="saving" />
        <button type="submit" name="button" [disabled]="saving">Save Picture</button>
      </form> -->
      
    </div>