<div class="profile-page-container">
    
<div class="profile-card">  

<h1>{{ user.firstName }}'s profile</h1>

<h3 class="site-title"><a [routerLink]="['/profile/edit']">Edit Profile</a></h3>

<img src="http://localhost:3000{{ user.picture }} " alt="Profile Picture" class="profile-picture">

<p> @{{ user.username }}  </p>
<h3> {{ user.firstName }}  {{ user.lastName }}  </h3>
<p> {{ user.email }}  </p>

<p> Lives in {{ user.livingIn.placeName }}  </p>
<p> Was born in {{ user.cityFrom.placeName }}  </p>

  </div>

</div>