<h1>PROFILE PAGE</h1>

<h3 class="site-title"><a [routerLink]="['/profile/edit']">Edit Profile</a></h3>

<img src="{{ user.picture }} " alt="Profile Picture" class="profile-picture">





<h2> You are logged in as {{ user.username }}  </h2>

<h2> Your email is {{ user.email }}  </h2>

<h2> Your first name is {{ user.firstName }}  </h2>

<h2> Your last name is {{ user.lastName }}  </h2>

<h2> Your ID is {{ user.id }}  </h2>


<form class="update-user" (ngSubmit)="handleUpdateUserForm(myForm)" #myUserForm="ngForm" novalidate [ngClass]="{saving: saving}">
        <label for="file-upload" class="custom-file-upload">
          Choose New Picture
        </label>
        <input id="file-upload" type="file" name="file" ng2FileSelect [uploader]="uploader" [disabled]="saving" />
        <button type="submit" name="button" [disabled]="saving">Save Picture</button>
      </form>
      
  